:root {
  --font-stack: "Barlow", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --primary: #b3005e !important;
  --primary-hover: #ca046c !important;
  --white: #ffffff;
  --content-heading-color: #060047;
  --grey-bg: #f4f4f4;
  --search-text-color: #1a1a1a;
  --table-th-color: #94918a;
  --table-border-color: #dedede;
  --table-td-color: #1a1a1a;
  --green-status: #32d517;
  --red-status: #de3730;
  --black: #000000;
}
.addScreenModalTextContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
}
.addscreenHeaderSection {
  border: none !important;
}
body {
  background: url(../img/body-bg.png) no-repeat center;
  background-size: cover;
}
.login-form-bx.auth-page {
  background-color: transparent;
}
.login-form-bx.auth-page .box-skew .authincation-content:after {
  display: none;
}
.login-form-bx.auth-page .box-skew1:after {
  display: none;
}
.login-form-bx.auth-page .box-skew1 {
  background-color: transparent;
}
.login-form-bx.auth-page .login-logo .logo-icon {
  width: auto;
  height: 48px;
}
.login-form-bx.auth-page h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 26px;
  font-family: var(--font-stack);
}
.login-form-bx.auth-page .inner-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  font-family: var(--font-stack);
}
.login-form-bx.auth-page .box-skew .authincation-content {
  background-color: transparent;
}
.login-form-bx.auth-page .inner-content {
  max-width: 450px;
  padding-left: 0;
  padding-right: 30px;
  width: 100%;
}
.login-form-bx.auth-page .tab-content h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--white);
  font-family: var(--font-stack);
  margin-bottom: 14px;
}
.login-form-bx.auth-page .nav {
  justify-content: flex-end;
}
.login-form-bx.auth-page .welcome-content-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: var(--white);
  opacity: 0.7;
  font-family: var(--font-manrope);
  margin-bottom: 52px;
}
.login-form-bx.auth-page .nav-pills .nav-link {
  border-radius: 0.375rem;
  padding: 0.75rem 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  line-height: 29px;
  font-family: var(--font-stack);
  margin-right: 24px;
}
.login-form-bx.auth-page .nav-pills .nav-item:last-child .nav-link {
  margin-right: 0;
}
.login-form-bx.auth-page .nav-pills.light .nav-link.active,
.login-form-bx.auth-page .nav-pills.light .show > .nav-link {
  background: transparent;
  color: var(--white);
  box-shadow: none;
  position: relative;
}
.login-form-bx.auth-page .nav-pills.light .nav-link.active:after {
  content: "";
  width: 46px;
  height: 3px;
  background: #9fafff;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}
.login-form-bx.auth-page .auth-tab-content {
  margin-top: 50px;
}
.login-form-bx.auth-page .form-control {
  background-color: transparent;
  color: var(--white);
  height: 49px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 14px 20px;
}
.form-group {
  position: relative;
}
.btn.btn-primary.btn-pink {
  background: var(--primary);
  box-shadow: 0px 12px 21px 4px rgba(109, 1, 58, 0.19);
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border: none;
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: var(--white);
  font-family: var(--font-manrope);
}
.btn.btn-primary.btn-pink:hover,
.btn.btn-primary.btn-pink:focus,
.btn.btn-primary.btn-pink:active {
  background: var(--primary-hover);
}
.btn-primary.btn-pink:not(:disabled):not(.disabled):active {
  background: var(--primary-hover);
}
.revover-password {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: var(--white);
  font-family: var(--font-stack);
  margin-bottom: 40px;
}
.revover-password:hover {
  color: var(--primary-hover);
}
.add-new-account {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: var(--white);
  margin-top: 20px;
  font-family: var(--font-manrope);
  font-family: var(--font-stack);
}
.signup-link {
  color: var(--white);
  font-weight: 600;
}
.signup-link:hover {
  color: var(--primary-hover);
}
.eye-off {
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.login-form-bx.auth-page .form-group.password-textfield .form-control {
  padding-right: 50px;
}
.login-form-bx.auth-page .box-skew .authincation-content {
  box-shadow: none;
  position: relative;
  z-index: 1;
  right: 0;
  top: 0;
  transform: none;
  padding: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
}
.login-center-img {
  background: url(../img/login-img.png) no-repeat center;
  max-width: 600px;
  width: 100%;
  height: 558px;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 0;
  transform: translate(43%, -50%);
  right: 0;
}
.login-leftpanel {
  z-index: 2;
}
.btn.btn-outline-primary.btn-google-signin {
  border: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 12px 20px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.01em;
  color: var(--white);
  font-family: var(--font-manrope);
  margin-top: 50px;
  min-height: 53px;
}
.btn.btn-outline-primary.btn-google-signin:hover,
.btn.btn-outline-primary.btn-google-signin:active,
.btn.btn-outline-primary.btn-google-signin:focus {
  background: var(--primary-hover);
}
.btn.btn-outline-primary.btn-google-signin img {
  width: 24px;
  height: 24px;
}
.btn.btn-outline-primary.btn-google-signin:not(:disabled):not(
    .disabled
  ):active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}

/* Login Page End here */

/* Screen Page start here */

[data-sidebar-style="overlay"] .deznav.sidebar-nav-common {
  left: 0;
}
[data-header-position="fixed"] .header.header-custom {
  display: none;
}
.nav-control.nav-hamburger-menu {
  display: none;
}
.nav-header.navbar-header-custom {
  background-color: transparent;
  height: auto;
  /* top: 68px; */
  top: 40px;
}
.nav-header.navbar-header-custom .sidebar-logo {
  width: 169px;
  height: 48px;
}
.nav-header.navbar-header-custom .brand-logo {
  padding-left: 34px;
  padding-right: 25px;
}
.nav-header.navbar-header-custom {
  width: 15.313rem;
}
.sidebar-nav-common.deznav {
  background-color: transparent;
  padding-top: 108px;
  width: 15.313rem;
}
[data-sidebar-style="overlay"] .content-body.content-body-custom {
  margin: 34px;
  margin-left: 245px;
  padding: 0;
  height: calc(100% - 68px);
}
[data-header-position="fixed"] .content-body.content-body-custom {
  padding-top: 0;
}
.content-body.content-body-custom {
  margin: 34px;
  margin-left: 245px;
  padding: 0;
  height: calc(100% - 68px);
}
.content-body.content-body-custom .container-fluid {
  background: var(--white);
  box-shadow: 0px 2px 5px rgba(0, 19, 51, 0.1);
  border-radius: 60px;
  min-height: auto !important;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content-body-custom .table-responsive {
  overflow: auto;
}
.content-body-custom .table-responsive {
  flex: 1;
}
.footer-custom.footer {
  display: none;
}
.sidebar-nav-common.deznav .metismenu > li > a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  font-family: var(--font-stack);
  align-items: center;
  display: flex;
}
.deznav.sidebar-nav-common .deznav-scroll {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.sidebar-nav-common.deznav .metismenu li {
  margin-bottom: 5px;
}
.sidebar-nav-common .mm-wrapper {
  display: flex;
  flex: 1;
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li.mm-active
  > a {
  background: transparent;
  color: var(--primary);
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li
  > a:before {
  display: none;
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li
  > a {
  color: var(--white);
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li.mm-active
  > a
  i {
  color: var(--white);
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li
  > a
  i {
  color: var(--white);
}
[data-sidebar-style="full"][data-layout="vertical"]
  .sidebar-nav-common.deznav
  .metismenu
  > li
  > a {
  padding: 14px 10px 14px 36px;
}
.sidebar-nav-common.deznav .metismenu > li.mm-active > a {
  color: var(--primary-hover);
}
.sidebar-nav-common.deznav .metismenu > li:hover > a,
.sidebar-nav-common.deznav .metismenu > li:focus > a {
  color: var(--primary-hover);
}
.nav-menu-icon {
  width: 24px;
  margin-right: 20px;
}
.nav-menu-icon img {
  width: 24px;
}
.logout-link li a {
  padding: 14px 10px 14px 30px;
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--white);
  font-family: var(--font-stack);
  align-items: center;
}
.logout-link li a img {
  width: 24px;
}
#main-wrapper {
  height: 100vh;
}

.custom-content-heading h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: var(--content-heading-color);
  font-family: var(--font-stack);
  margin-bottom: 20px;
}
.btn.btn-info.add-screen-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  min-height: 50px;
  border-radius: 12px;
  background: var(--primary);
  border-color: var(--primary);
  font-style: normal;
  font-weight: 700;
  font-size: 15.5px;
  line-height: 22px;
  text-align: center;
  font-family: var(--font-manrope);
}
.btn.btn-info.add-screen-btn:hover,
.btn.btn-info.add-screen-btn:focus,
.btn.btn-info.add-screen-btn:active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn.btn-info.add-screen-btn:not(:disabled):not(.disabled):active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn.btn-info.add-screen-btn .btn-icon-right {
  border-left: none;
  padding: 1rem 0 1rem 0.6rem;
  margin-left: 0;
  color: var(--white);
}
.btn.btn-info.add-screen-btn .add-new-icon img {
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
}
.btn.btn-info.add-screen-btn .btn-icon-right .glyph-icon {
  font-size: 12px;
}

.btn.add-media-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  min-height: 50px;
  border-radius: 12px;
  background: var(--primary);
  border-color: var(--primary);
  font-style: normal;
  font-weight: 700;
  font-size: 15.5px;
  line-height: 22px;
  text-align: center;
  font-family: var(--font-manrope);
  color: var(--white);
}
.btn.add-media-btn:hover,
.btn.add-media-btn:focus,
.btn.add-media-btn:active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--white);
}
.btn.add-media-btn:not(:disabled):not(.disabled):active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
  color: var(--white);
}
.btn.add-media-btn .btn-icon-right {
  border-left: none;
  padding: 1rem 0 1rem 0.6rem;
  margin-left: 0;
  color: var(--white);
}
.btn.add-media-btn .add-new-icon img {
  width: 20px;
  height: 20px;
  margin-left: 0.3rem;
}
.btn.add-media-btn .btn-icon-right .glyph-icon {
  font-size: 12px;
}
.search-textfield {
  max-width: 450px;
  width: 100%;
}
.search-textfield .form-group {
  width: 100%;
  flex: 1;
}
.search-textfield .form-control {
  background: var(--grey-bg);
  border-radius: 12px;
  border: none;
  height: 58px;
  padding: 18px 47px 18px 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--search-text-color);
  font-family: var(--font-manrope);
}
.search-textfield .form-control:hover,
.search-textfield .form-control:focus {
  background: var(--grey-bg);
}
.search-textfield .search-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 18px;
  top: 18px;
  cursor: pointer;
}
.btn.btn-primary.icon-btn {
  background: var(--primary);
  border-color: var(--primary);
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 12px;
}
.btn.btn-primary.icon-btn img {
  width: 24px;
  height: 24px;
}
.btn.btn-primary.icon-btn:hover,
.btn.btn-primary.icon-btn:focus,
.btn.btn-primary.icon-btn:active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn.btn-primary.icon-btn:not(:disabled):not(.disabled):active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.table.custom-table {
  white-space: nowrap;
}
.table.custom-table thead th {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.015em;
  font-family: var(--font-manrope);
  color: var(--table-th-color);
  text-transform: capitalize;
  border-color: var(--table-border-color);
}
.table.custom-table .td-content {
  display: flex;
  flex-direction: column;
  color: var(--table-td-color);
}
.table.custom-table td {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
  border: none;
}
.table.custom-table .td-content strong {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
}
.table.custom-table .td-content span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-manrope);
  color: #676d6d;
}
.table.custom-table .status {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 16px;
  border-radius: 100%;
}
.table.custom-table .status-green {
  background: var(--green-status);
}
.table.custom-table .status-red {
  background: var(--red-status);
}
.table.custom-table .my-phone-tag {
  border: 0.6px solid #060047;
  border-radius: 37px;
  padding: 6px 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
.table.custom-table .down-arrow {
  width: 16px;
  height: 16px;
  display: inline-block;
  cursor: pointer;
}
.table.custom-table .table-menu-icon {
  width: 30px;
  height: 30px;
}
.table.custom-table .table-menu-icon .menu-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.dropdown-toggle-menu .dropdown-toggle::after {
  display: none;
}
.dropdown-toggle-menu .dropdown-menu {
  background: var(--white);
  box-shadow: 0px 4px 34px rgba(33, 38, 61, 0.05);
  border-radius: 8px;
  min-width: 279px;
  padding: 20px;
}
.dropdown-list-item .dropdown-list-icon {
  margin-right: 8px;
  width: 28px;
  height: 28px;
}
.dropdown-list-item .dropdown-list-icon img {
  width: 28px;
  height: 28px;
}
.dropdown-list-item .dropdown-menu-list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dropdown-list-item.dropdown-item {
  border-bottom: 1px solid #d8d8d8;
}
.dropdown-toggle-menu .dropdown-menu .dropdown-item {
  padding: 0.5rem 0;
}
.dropdown-toggle-menu .dropdown-item.active,
.dropdown-toggle-menu .dropdown-item:active {
  background-color: transparent;
}
.dropdown-list-item .dropdown-menu-list .menu-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
  margin-bottom: 4px;
}
.dropdown-list-item .dropdown-menu-list .menu-description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
.dropdown-toggle-menu .dropdown-item:hover,
.dropdown-toggle-menu .dropdown-item:focus {
  background-color: #ffffff;
}
.dropdown-toggle-menu .dropdown-item:hover .menu-heading,
.dropdown-toggle-menu .dropdown-item:hover .menu-description {
  color: var(--primary);
}

/* Modal start here */
.custom-modal .modal-content {
  border-radius: 18px;
}
.custom-modal-medium .modal-dialog {
  max-width: 515px;
}
.custom-modal .modal-header {
  padding: 24px;
  align-items: center;
  border-bottom: none;
}
.custom-modal .modal-header .close {
  position: relative;
  padding: 0;
  opacity: 1;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-modal .modal-header .close img {
  width: 24px;
  height: 24px;
}
.custom-modal .modal-header .modal-title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
.custom-modal .modal-body {
  padding: 0 24px;
}
.custom-modal .add-screen-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
/* Modal End here */
.form-field.form-control {
  padding: 18px 20px;
  height: 55px;
  border: 0.8px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
.form-field.form-control:focus,
.form-field.form-control:hover {
  border: 0.8px solid rgba(0, 0, 0, 0.35);
  color: var(--table-td-color);
}
.custom-modal .modal-footer {
  border: none;
  padding: 0 24px 24px;
}
.btn.btn-primary.primary-btn {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0px 0px 15px 3.75px rgba(63, 61, 86, 0.05);
  border-radius: 12px;
  padding: 14px 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-manrope);
  border-color: var(--primary);
  height: 56px;
}
.btn.btn-primary.primary-btn:hover,
.btn.btn-primary.primary-btn:focus,
.btn.btn-primary.primary-btn:active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn.btn-primary.primary-btn:not(:disabled):not(.disabled):active {
  background: var(--primary-hover);
  border-color: var(--primary-hover);
}
.btn.btn-outline-light.cancel-btn {
  padding: 14px 28px;
  border: 1px solid #060047;
  box-shadow: 0px 0px 15px 3.75px rgba(63, 61, 86, 0.05);
  border-radius: 12px;
  height: 56px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--content-heading-color);
  font-family: var(--font-manrope);
}
.btn.btn-outline-light.cancel-btn:hover,
.btn.btn-outline-light.cancel-btn:active,
.btn.btn-outline-light.cancel-btn:focus {
  border: 1px solid var(--primary-hover);
  color: var(--primary-hover);
  background: transparent;
}
.btn.btn-outline-light.cancel-btn:not(:disabled):not(.disabled):active {
  background: transparent;
  border-color: var(--primary-hover);
}
.tag-name-row {
  margin-bottom: 20px;
}
.tag-name-row .tag-name {
  border-radius: 12px;
  border: 1px solid var(--content-heading-color);
  padding: 10px 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--content-heading-color);
  font-family: var(--font-manrope);
  margin-right: 14px;
}
.tag-name-row .tag-name-content {
  margin-right: 4px;
}
.tag-name-row .tag-name .tag-close-icon {
  width: 16px;
  height: 16px;
}
.clear-filter-link {
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  font-family: var(--font-manrope);
  margin-right: 12px;
}
.filter-row h6 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--black);
}
.common-checkbox.custom-control {
  padding-left: 26px;
}
.common-checkbox.custom-control .custom-control-input {
  width: 16px;
  height: 16px;
}
.common-checkbox.custom-control input[type="checkbox"]:after {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}
.common-checkbox .custom-control-label:before,
.common-checkbox .custom-control-label:after {
  top: 2px;
  width: 16px;
  height: 16px;
  border-color: #e7e7e7;
}
.common-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--primary);
  background-color: var(--primary);
}
.common-checkbox .custom-control-label::before {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.4);
  border-width: 1px;
  border-radius: 0.25rem !important;
}
.common-checkbox .custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
.badge.badge-common-light {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  font-family: var(--font-manrope);
  color: var(--black);
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Screen Page end here */

/* Media Page start here */

.empty-media-img {
  max-width: 350px;
  margin-bottom: 20px;
}
.empty-media-img img {
  max-width: 350px;
}
.empty-media {
  padding: 50px 0 0;
  overflow: auto;
  margin-right: -31px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.empty-media h3 {
  font-style: normal;
  font-weight: 800;
  font-size: 27px;
  line-height: initial;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
  margin-bottom: 10px;
}
.empty-media p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--table-td-color);
  font-family: var(--font-manrope);
  margin-bottom: 0;
}

.name-img {
  width: 40px;
  height: 40px;
}
.name-img img {
  width: 40px;
  height: 40px;
}
.table.custom-table .td-content.name-td-content {
  flex-direction: inherit;
}
.upload-file-container {
  border: 1px dashed #c2c2c2;
  border-radius: 4px;
  padding: 30px 20px;
  margin-bottom: 15px;
}
.upload-file-container .upload-flie-img {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}
.upload-file-container .upload-flie-img img {
  width: 80px;
  height: 80px;
}
.upload-file-container h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
}
.upload-file-container input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
}
.font-weight-500 {
  font-weight: 500 !important;
}
/* Media page end here */

@media (min-width: 1500px) {
  .login-form-bx.auth-page .container {
    max-width: 1300px;
  }
  .login-center-img {
    transform: translate(49%, -50%);
  }
}
@media (max-width: 1440px) {
  .login-form-bx.auth-page .container {
    max-width: 1200px;
  }
  .btn.btn-outline-primary.btn-google-signin {
    margin-top: 25px;
  }
  .login-form-bx.auth-page .auth-tab-content {
    margin-top: 20px;
  }
  .login-form-bx.auth-page .welcome-content-paragraph {
    margin-bottom: 25px;
  }
  .revover-password {
    margin-bottom: 25px;
  }
  .empty-media-img {
    max-width: 200px;
    margin-bottom: 20px;
  }
  .empty-media-img img {
    max-width: 200px;
  }
}
@media (max-width: 1200px) {
  .login-form-bx .box-skew.login-rightpanel .authincation-content {
    padding: 0 15px;
  }
  .login-center-img {
    max-width: 510px;
    height: 468px;
  }
  .content-body-custom .table-responsive {
    overflow: auto;
  }
  .nav-header.navbar-header-custom {
    z-index: 1 !important;
  }
}
@media (max-width: 991px) {
  .login-center-img {
    display: none;
  }

  .login-form-bx.auth-page .box-skew .authincation-content {
    justify-content: center;
  }
  [data-sidebar-position="fixed"][data-layout="vertical"]
    .deznav.sidebar-nav-common {
    position: fixed;
    left: -100%;
  }
  [data-sidebar-style="overlay"] .content-body.content-body-custom {
    margin: 65px;
    margin-left: 0;
    padding: 20px;
    height: auto;
    width: 100%;
    margin-bottom: 20px !important;
  }
  .form-head.d-flex.align-items-start {
    display: flex !important;
    align-items: center !important;
  }
  .form-head .btn.btn-info.add-screen-btn {
    white-space: nowrap;
    margin-right: 10px !important;
  }
  #main-wrapper {
    height: auto;
  }
  .nav-header.navbar-header-custom .brand-logo {
    padding-left: 20px;
  }
  [data-sidebar-position="fixed"][data-layout="vertical"]
    .nav-header.navbar-header-custom {
    position: absolute;
  }
  .nav-header.navbar-header-custom {
    width: auto;
  }
  .nav-header.navbar-header-custom {
    top: 20px;
  }
  .nav-control.nav-hamburger-menu {
    display: block;
    right: 20px;
    position: fixed;
    top: 41px;
  }
  [data-headerbg="color_1"]
    .navbar-header-custom.nav-header
    .hamburger.is-active
    .line,
  [data-headerbg="color_1"] .navbar-header-custom.nav-header .hamburger .line {
    background: var(--white) !important;
  }
  #main-wrapper.show.menu-toggle .deznav.sidebar-nav-common {
    left: 0;
    background: var(--primary);
    padding: 10px 0;
  }
  .logout-link li a {
    padding: 14px 10px 14px 20px;
  }
  .sidebar-nav-common.deznav .metismenu > li.mm-active > a {
    color: #fff;
  }
  .navbar-header-custom.nav-header .brand-logo {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  body {
    background-size: auto;
  }
  .login-form-bx.auth-page .inner-content {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .login-form-bx .box-skew,
  .login-form-bx .box-skew1 {
    padding: 30px 15px;
  }

  .box-skew.d-flex.pl-0.pr-0.login-rightpanel {
    padding-top: 0;
  }
  .login-form-bx.auth-page .nav {
    justify-content: flex-start;
  }
  body .vh-100 {
    height: auto !important;
  }
  .login-form-bx.auth-page h2 {
    font-size: 30px;
    margin-bottom: 18px;
  }
  .login-form-bx.auth-page .inner-content p {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
  }
  .login-form-bx.auth-page .box-skew1 {
    padding: 15px;
  }
  .login-form-bx.auth-page .tab-content h3 {
    font-size: 34px;
    line-height: normal;
    margin-bottom: 14px;
  }
  .login-form-bx.auth-page .nav-pills .nav-link {
    font-size: 21px;
  }
  .login-form-bx.auth-page .form-control {
    height: 48px;
  }
  .revover-password {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .btn.btn-primary.btn-pink {
    padding: 11px 20px;
    font-size: 18px;
  }
  .btn.btn-outline-primary.btn-google-signin {
    padding: 12px 20px;
    line-height: 25px;
    min-height: 52px;
  }
  .login-form-bx.auth-page .welcome-content-paragraph {
    font-size: 16px;
    line-height: 24px;
  }
  .login-form-bx.auth-page .box-skew .authincation-content {
    width: 100%;
  }
  .custom-content-heading h1 {
    font-size: 28px;
    line-height: normal;
    margin-bottom: 13px;
  }
  .search-textfield .form-control {
    height: 47px;
    padding: 14px 47px 14px 14px;
  }
  .search-textfield .search-icon {
    top: 12px;
  }
  .form-head .btn.btn-primary.icon-btn {
    width: 44px;
    height: 44px;
  }
  .form-head .btn.btn-primary.icon-btn img {
    width: 20px;
    height: 20px;
  }
  .form-head .btn.btn-info.add-screen-btn {
    font-size: 0;
    margin-right: 10px !important;
    padding: 0;
    min-width: 44px;
    min-height: 44px;
  }
  .form-head .btn.btn-info.add-screen-btn .btn-icon-right {
    border-left: none;
    padding: 0;
    margin-left: -4px;
  }
}

@media (max-width: 480px) {
}

.settings-default {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 7rem 2rem 0;
  width: 100%;
  align-items: center;
  padding-bottom: 2rem;
}

.thumbnail {
  width: 426px;
  height: 240px;
  float: right;
  margin-right: 20px;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}
.imgContent {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: contain;
  vertical-align: middle;
  border-style: none;
}
.commonBtn {
  color: var(--content-heading-color) !important;
  font-family: var(--font-stack);
}
.image-container {
  background: #f4f4f4;
  box-shadow: 0px 2px 4px rgba(0, 21, 64, 0.05),
    0px 0px 2px rgba(0, 21, 64, 0.14);
  border: 1px solid #3a4245;
  width: 233px;
  height: 152px;
  border-radius: 20px;
}

.image-text {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--table-td-color);
  margin-bottom: 16px;
  font-family: var(--font-manrope);
}
.image-text2 {
  /* position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: var(--table-td-color);
  font-family: var(--font-manrope);
}

.devicebg {
  height: 200px;
  border: 1px solid;
  border-radius: 20px;
}

.screenText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.alternetTextSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.alternetTextSection span {
  font-family: var(--font-manrope);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--table-td-color);
  margin-top: 10px !important;
}

.alternetTextSection p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  font-family: var(--font-manrope);
  margin-bottom: 0;
  color: var(--primary);
  cursor: pointer;
}
.font22 {
  font-size: 22px !important;
}

.webBrowserOptionSection {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.16), 0 0px 0px rgba(0, 0, 0, 0.23);
  transition: box-shadow 129ms;
  width: 80%;
  background-color: white;
  padding: 8px;
  border-radius: 7px;
}
.try-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.try-card-img img {
  max-width: 186px;
  width: 100%;
  margin: auto;
}
.tryBrowser {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--table-td-color);
  font-family: var(--font-manrope);
  margin-bottom: 6px;
}
.tryBrowserText {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--table-td-color);
  font-family: var(--font-manrope);
}

.browserImg {
  max-height: 200px;
  margin-right: 14px;
}
.web-player-body {
  margin-right: 245px !important;
}
button#Fullscreen {
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  background: 0 0;
}
.full-text {
  display: flex;
  background: #333;
  margin: 0 -7px;
  padding: 0 15px;
  border-radius: 7px;
}
.sec-block {
  display: flex;
  align-items: center;
  color: #fff;
  border: 1px solid #fff;
  margin: 6px 0;
  padding: 2px 4px;
  border-radius: 33px;
  cursor: pointer;
}
.sec-block p {
  margin: 0 !important;
  padding: 0 !important;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.sec-block i {
  width: 25px;
  margin-right: 10px;
}

.main-block {
  text-align: center;
  margin-top: 10vh;
  width: 40%;
  margin-left: 30%;
}

.registration-block {
  margin-top: 2vh;
  background-color: black;
  width: 100%;
  padding: 13px 0px;
  border-radius: 10px;
  border: 1px solid white;
}
.registration-title {
  font-size: 16px;
  color: #d6d6d6 !important;
}
.code {
  font-size: 52px;
  color: #d6d6d6 !important;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0;
}

.webrowerTextSection {
  margin: 50px;
}
.errorSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorSection .alert {
  background: #fff !important;
  color: #f72b50 !important;
  border-radius: 0.375rem;
  padding: 10px;
}
.invalid {
  border: 2px solid red !important;
}
.tag-container {
  display: inline-flex;
  max-width: 160px;
  flex-wrap: wrap;
}
.form-group.enter-code-textfield label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-manrope);
  color: #606060;
}
.form-group.enter-code-textfield .form-field.form-control {
  padding: 7px 0;
  height: 42px;
  border: none;
  border-radius: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--font-manrope);
  color: var(--table-td-color);
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
}
.form-group.enter-code-textfield .form-field.form-control.invalid {
  border: none !important;
  border-bottom: 1px solid red !important;
}
/* .btn.btn-primary.primary-btn.register-screen-modal {
  margin-bottom: 20px;
} */
.using-webplayer-paragraph p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--table-td-color);
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: var(--font-manrope);
}
.webplayer-list {
  margin-bottom: 20px;
}
.webplayer-list ul {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}
.webplayer-list ul li {
  font-family: var(--font-manrope);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--table-td-color);
  list-style: disc;
}
.content-body.content-body-custom.web-player-body .container-fluid {
    background: #333333;
    border-radius: 0;
    padding: 5px;
}
.content-body.content-body-custom.web-player-body .col-xl-12 {
  padding: 0;
}
.content-body.content-body-custom.web-player-body {
  max-width: 817px;
  width: 100%;
  height: 450px;
  margin: 20px auto !important;
}
.how-to-register {
  color: #9f9f9f;
  text-decoration: underline;
}
.guidelines-login {
  color: #9f9f9f;
}
.white-color {
  color: var(--white);
}
.basic-list-group.video-container iframe {
  border: none;
}
.image-preview-container img {

}
.console-reg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
.console-reg p {
  background: #fff;
  padding: 8px 18px;
  border-radius: 12px;
  font-family: Rubik,sans-serif;
  color: #1e3131;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 6px rgba(0,0,0,.1607843137254902);
}
.console-reg em {
  margin-left: 5px;
}
.image-preview-container img {
  max-width: 100%;
  height: 440px;
  width: 100%;
  object-fit: contain;
}

:fullscreen  .media-content{
  object-fit: contain;
  height: 100vh;
}
:fullscreen  .media-content video{
  object-fit: contain;
  height: 100vh;
}
:fullscreen  .media-content iframe{
  object-fit: contain;
  height: 100vh;
}
:fullscreen  .media-content .video-js{
position: inherit;
}

:fullscreen  #consoleReg{
  display: none;
  }

.error {
  color: #c02576;
}

.custom-modal-large .modal-dialog {
  max-width: 60%;
}

.video-js {
  width: 100%;
  height: 420px;
}

.loader-button-container {
  position: relative;
  width: 100%;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-button-container button{
  display: flex;
  justify-content: center;
  align-items: center;
}


.details-accordian{




border: 0.8px solid #1A1A1A;
border-radius: 16px;
}

/* .details-accordian .accordion__header{
  width: 100%;
  background: none !important;
  border: none;
} */

/* .dropdown-toggle {
  background-color: #b3005e !important;
    border-color: #b3005e !important;
    width: 48px;
    height: 48px;
    padding: 0 !important;
    border-radius: 12px !important;
}
.dropdown-list-img-icon{
  height: auto !important;
  width: auto  !important;
} */

/* Screen Page start here */
.btn.btn-outline-light.edit-screen-btn {
  border: 1px solid #060047;
border-radius: 12px;
padding: 14px 20px;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
font-family: var(--font-manrope);
color: var(--content-heading-color);
}
.btn.btn-outline-light.edit-screen-btn .btn-icon-right  {
  font-size: 12px;
  padding: 0;
  margin: 0 0 0 4px;
  border: none;
}
.btn.btn-outline-light.edit-screen-btn .btn-icon-right  img {
width: 20px;
}
.screen-subheading {
  font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 41px;
color: var(--primary);
font-family: var(--font-manrope);
}
.btn.btn-primary.screen-icon-btn {
  background: var(--primary);
  border-color: var(--primary);
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 4px;
}

.btn.btn-primary.screen-icon-btn:not(:disabled):not(.disabled):active {
  background: var(--primary);
  border-color: var(--primary);
}

.btn.btn-primary.screen-icon-btn img {
  width: 12px;
}
.btn.btn-primary.screen-icon-btn .screenshot-icon {
  width: 15px;
}
.more-icon-dropdown .btn.btn-primary {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 4px;
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}
.more-icon-dropdown .btn.btn-primary:after {
  background: url(../img/dots-icon.png) no-repeat center;
  background-size: 50%;
  font-size: 0;
  width: 9px;
  height: 18px;
}
.location-row .locationt-icon-img {
width: 24px;
height: 24px;
margin-right: 5px;
}
.location-col {
  max-width: 500px;
  width: 100%;
}
.location-col h4 {
  background: var(--grey-bg);
  border-radius: 8px;
  padding: 7px;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: var(--table-td-color);
font-family: var(--font-manrope);
margin-bottom: 14px;
}
.active-row {
  background: var(--grey-bg);
  border-radius: 8px;
  padding: 7px 12px;
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
color: var(--table-td-color);
font-family: var(--font-manrope);
margin-bottom: 20px;
min-height: 38px;
}
.active-row .active-status {
width: 12px;
height: 12px;
border-radius: 100%;
margin-right: 5px;
display: inline-block;
background: var(--green-status);
}
.custom-accordion .details-accordian {
  border: 0.8px solid #1A1A1A;
  border-radius: 16px;
  
}

.custom-accordion .details-accordian .accordion__header.collapsed {
  background: transparent;
  border-color: transparent;
  color: #211c37;
  box-shadow: none;
}
.custom-accordion.accordion-primary .accordion__header {
  background: transparent;
  border-color: transparent;
  color: var(--primary);
  box-shadow: none;
  font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
font-family: var(--font-manrope);
}
.custom-accordion.accordion-primary .accordion__header.collapsed .accordion__header--indicator::before {
  font-size: 15px;
}
.accordion-custom-img img {
  max-width: 142px;
}
.custom-accordion .accordion__body--text {
  padding: 0 1.25rem 1.5rem;
}
.accordion-custom-img {
  margin-right: 16px;
}
.accordion-custom-content h6 {
  font-family: var(--font-manrope);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: normal;
  color: #1A1A1A;
}
.accordion-custom-content p {
  font-family: var(--font-manrope);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  color: #1A1A1A;
  margin-bottom: 0;
}
.edit-compostion {
  margin-left: 2px;
  cursor: pointer;
}
.edit-compostion img {
  width: 16px;
  height: 16px;
}
.accordion-custom-content.flex-1 {
  flex: 1;
}
.schedule-custom-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.schedule-custom-img img {
  width: 40px;
  height: 40px;
}
.active-schedule.accordion-custom-content h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #060047;
}
.active-schedule.accordion-custom-content p {
  font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
color: #1A1A1A;
opacity: 0.8;
margin-bottom: 0;
}
.device-accordion-content {
  padding: 0 11px;
}
.device-accordion-content h6 {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 25px;
font-family: var(--font-manrope);
color: var(--table-td-color);
}
.device-accordion-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(26, 26, 26, 0.7);
font-family: var(--font-manrope);
}
.badge.badge-common-light.badge-tag {
  font-style: normal;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  font-family: var(--font-manrope);
  color: var(--black);
  padding: 10px 15px;
  border: 1px solid #1A1A1A;
  border-radius: 12px;
}
.tag-added {
  cursor: pointer;
}
.tag-added img {
  width: 25px;
height: 25px;
}
.accordion-overflow {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  margin-right: -31px;
}
.accordion-overflow-scroll {
padding-right: 30px;
}

:fullscreen .image-preview-container img{
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
